@page "/"

@using global::Shared
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Overzicht evenementen</h1>

@if (happenings == null)
{
    <p><em>Laden...</em></p>
}
else
{
    <QuickGrid Items="happenings.AsQueryable()" RowClass="GetRowClass" TGridItem="Happening" Class="grid">
        <PropertyColumn Property="@(e => e.Name)" Title="Naam evenement" />
        <PropertyColumn Property="@(e => e.CustomerName)" Title="Opdrachtgever" />
        <PropertyColumn Property="@(e => e.Address)" Title="Adres" />
        <PropertyColumn Property="@(e => e.BeginDate)" Title="Begindatum" />
        <PropertyColumn Property="@(e => e.EndDate)" Title="Einddatum" />
@*         <TemplateColumn Title="Diensten">
            @context.Shifts.Count
        </TemplateColumn>
        <TemplateColumn Title="Aantal posters">
            @context.AssignedVolunteers.Count
        </TemplateColumn>
 *@    </QuickGrid>
}

@code {
    private List<Happening>? happenings = null;

    protected override async Task OnInitializedAsync()
    {
        happenings = await Http.GetFromJsonAsync<List<Happening>>("api/events");
    }

    private string GetRowClass(Happening e)
    {
        return e.ChildEvents.Any() ? "has-child-events" : string.Empty;
    }

}
